[Desktop Entry]
Name=bookmanager
Exec=bookmanager %i -caption "%c"
Icon=bookmanager
Type=Application
X-DocPath=bookmanager/index.html
GenericName=A KDE4 Application
Terminal=false

