[Desktop Entry]
Name=bookmanager
Name[ca]=bookmanager
Name[ca@valencia]=bookmanager
Name[cs]=bookmanager
Name[da]=bookmanager
Name[de]=bookmanager
Name[el]=bookmanager
Name[en_GB]=bookmanager
Name[eo]=bookmanager
Name[es]=bookmanager
Name[et]=bookmanager
Name[fi]=bookmanager
Name[fr]=bookmanager
Name[ga]=bookmanager
Name[gl]=bookmanager
Name[hu]=bookmanager
Name[it]=bookmanager
Name[ja]=bookmanager
Name[km]=bookmanager
Name[ko]=bookmanager
Name[lv]=bookmanager
Name[nb]=bookmanager
Name[nds]=bookmanager
Name[nl]=bookmanager
Name[nn]=bookmanager
Name[pa]=bookmanager
Name[pl]=bookmanager
Name[pt]=bookmanager
Name[pt_BR]=bookmanager
Name[ro]=bookmanager
Name[ru]=bookmanager
Name[sr]=bookmanager
Name[sr@ijekavian]=bookmanager
Name[sr@ijekavianlatin]=bookmanager
Name[sr@latin]=bookmanager
Name[sv]=bookmanager
Name[tr]=bookmanager
Name[uk]=bookmanager
Name[x-test]=xxbookmanagerxx
Name[zh_CN]=bookmanager
Name[zh_TW]=bookmanager
Exec=bookmanager %i -caption "%c"
Icon=bookmanager
Type=Application
X-DocPath=bookmanager/index.html
GenericName=A KDE4 Application
GenericName[ca]=Una aplicació del KDE4
GenericName[ca@valencia]=Una aplicació del KDE4
GenericName[cs]=Aplikace prostředí KDE
GenericName[da]=Et KDE4-program
GenericName[de]=Eine KDE-4-Anwendung
GenericName[el]=Μια εφαρμογή KDE4
GenericName[en_GB]=A KDE4 Application
GenericName[es]=Una aplicación de KDE4
GenericName[et]=KDE4 rakendus
GenericName[fi]=KDE4-sovellus
GenericName[fr]=Une application pour KDE4
GenericName[ga]=Feidhmchlár KDE4
GenericName[gl]=Un programa de KDE4
GenericName[hu]=KDE4-alkalmazás
GenericName[it]=Un'applicazione di KDE 4
GenericName[ja]=KDE 4 アプリケーション
GenericName[km]=កម្មវិធី KDE4
GenericName[ko]=KDE4 프로그램
GenericName[lv]=KDE4 lietotne
GenericName[nb]=Et KDE4-program
GenericName[nds]=En KDE4-Programm
GenericName[nl]=Een KDE4-programma
GenericName[nn]=Eit KDE 4-program
GenericName[pa]=KDE4 ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Program dla KDE4
GenericName[pt]=Uma Aplicação do KDE4
GenericName[pt_BR]=Um aplicativo do KDE4
GenericName[ro]=O aplicație KDE4
GenericName[ru]=Приложение KDE4
GenericName[sr]=КДЕ‑4 програм
GenericName[sr@ijekavian]=КДЕ‑4 програм
GenericName[sr@ijekavianlatin]=KDE4 program
GenericName[sr@latin]=KDE4 program
GenericName[sv]=Ett KDE4-program
GenericName[tr]=Bir KDE4 Uygulaması
GenericName[uk]=Програма для KDE4
GenericName[x-test]=xxA KDE4 Applicationxx
GenericName[zh_CN]=KDE4 应用程序
GenericName[zh_TW]=KDE4 應用程式
Terminal=false

