[Desktop Entry]
Type=Service
Icon=whatever
X-KDE-ServiceTypes=BookManager/Plugin,KPluginInfo

X-KDE-Library=bookmanager_managerplugin

X-KDE-PluginInfo-Name=bookmanager_managerplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=BookManager Ebook management part
Comment[da]=E-bogshåndterings-part til BookManager
Comment[es]=Parte de la gestión de libros electrónicos BookManager
Comment[et]=Raamatuhalduri e-raamatute haldamise komponent
Comment[fr]=Composant de gestion Ebook pour le gestionnaire de signets
Comment[hu]=A BookManager Ebook kezelés része
Comment[it]=Parte per la gestione di ebook di BookManager
Comment[km]=ផ្នែក​នៃ​ការ​គ្រប់គ្រង​ BookManager Ebook
Comment[nl]=Boekenbeheerder, onderdeel Ebook-beheer
Comment[pl]=Moduł zarządzania e-bookami MenadżeraKsiążek
Comment[pt]=Componente de gestão de e-books do BookManager
Comment[pt_BR]=Componente de gerenciamento de Ebook do BookManager
Comment[sk]=Časť správy BookManager Ebook
Comment[sv]=Bokhanterarens delprogram för e-böcker
Comment[uk]=Модуль керування електронними книжками
Comment[x-test]=xxBookManager Ebook management partxx
Comment[zh_CN]=书籍管理器 Ebook 管理部件
Name=BookManager Part
Name[da]=BookManager-Part
Name[es]=Parte de BookManager
Name[et]=Raamatuhalduri komponent
Name[ga]=Comhpháirt BookManager
Name[hu]=BookManager rész
Name[nl]=Boekenbeheer-onderdeel
Name[pt]=Componente do BookManager
Name[pt_BR]=Componente do BookManager
Name[sk]=Časť BookManager
Name[sv]=Bokhanterarens delprogram
Name[uk]=Модуль BookManager
Name[x-test]=xxBookManager Partxx
