[Desktop Entry]
Type=Service
Icon=whatever
X-KDE-ServiceTypes=BookManager/Plugin,KPluginInfo

X-KDE-Library=bookmanager_managerplugin

X-KDE-PluginInfo-Name=bookmanager_managerplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=BookManager Ebook management part
Comment[es]=Parte de la gestión de libros electrónicos BookManager
Comment[et]=Raamatuhalduri e-raamatute haldamise komponent
Comment[fr]=Composant de gestion Ebook pour le gestionnaire de signets
Comment[km]=ផ្នែក​នៃ​ការ​គ្រប់គ្រង​ BookManager Ebook
Comment[nl]=Boekenbeheerder, onderdeel Ebook-beheer
Comment[pl]=Moduł zarządzania e-bookami MenadżeraKsiążek
Comment[pt]=Componente de gestão de e-books do BookManager
Comment[pt_BR]=Componente de gerenciamento de Ebook do BookManager
Comment[sv]=Bokhanterarens Ebook-hanteringsdel
Comment[uk]=Модуль керування електронними книжками
Comment[x-test]=xxBookManager Ebook management partxx
Name=bookmanagerpart
Name[es]=bookmanagerpart
Name[et]=Raamatuhalduri komponent
Name[fr]=bookmanagerpart
Name[km]=bookmanagerpart
Name[nl]=bookmanagerpart
Name[pl]=modułmenadżeraksiążek
Name[pt]=bookmanagerpart
Name[pt_BR]=componente do bookmanager
Name[sk]=bookmanagerpart
Name[sv]=Bokhanterings-delprogram
Name[uk]=bookmanagerpart
Name[x-test]=xxbookmanagerpartxx
